---
const navItems =[
    {
        title: 'Inicio',
        url:'#'
    },
    {
        title: 'Nosotros',
        url:'#'
    },
    {
        title: 'Recetas',
        url:'#'
    },
]
---
<header>
    <nav class="nav">
        {
            navItems.map((link)=>(
                <a href={link.url}>{link.title}</a>
            ))
        }
    </nav>
    <h1 class="titulo"><span>El</span> Rece<span>ta</span>rio</h1>
    <section class="redesSociales">

    </section>
</header>

<style>
    header{
        background-color: #252525;
        height: 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & nav{
            display: flex;
            gap: 1rem;
            padding: 0 0 0 0.5rem;

            & a{
                text-decoration: none;
                color: white;
                user-select: none;
                transition: 100ms;
                font-weight: 600;
            }

            & a:hover{
                color: rgb(165, 171, 223);
            }
        }

        & .redesSociales{
            padding: 0 0.5rem 0 0;
        }

        & .titulo{
            font-size: 2.5rem;
            border: solid rgb(255, 255, 255) 3px;
            margin-top: 2rem;
            padding: 0 0.5rem;
            z-index: 100;
            color: white;
            user-select: none;

            & span{
                color: rgb(165, 171, 223);
            }
        }
    }
</style>